[package]
name = "hns-indexer"
version = "0.2.0"
edition = "2021"

[features]
simulation-mode = ["hyperware_process_lib/simulation-mode"]

[dependencies]
anyhow = "1.0"
alloy-primitives = "0.8.15"
alloy-sol-types = "0.8.15"
hex = "0.4.3"
hyperware_process_lib = { git = "https://github.com/hyperware-ai/process_lib", rev = "34b1f1d857f76fb474f7af96f089961445758edb", features = ["logging"] }
process_macros = "0.1"
rmp-serde = "1.1.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
wit-bindgen = "0.42.1"

[lib]
crate-type = ["cdylib"]

[package.metadata.component]
package = "hyperware:process"
